.change_password_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 20px;
}

.password_form_container {
    border: 2px solid yellow;
    box-shadow: 2px 4px 6px rgba(218, 165, 32, 0.5);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
}

.password_heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input_form_password {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.input_form_password label {
    display: block;
    margin-bottom: 5px;
}

.input_form_password input {
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(218, 165, 32, 0.5);
    outline: none;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

.change_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.change_btn button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(218, 165, 32, 0.5);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .change_password_main_container {
        margin: 30px;
        padding: 10px;
    }

    .password_form_container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .change_password_main_container {
        margin: 20px;
        padding: 10px;
    }

    .password_form_container {
        padding: 10px;
    }

    .change_btn button {
        font-size: 12px;
    }
}
